{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
    {% for product in products %}
        <div class="card col-4" style="width: 18rem; min-width: 250px;">
            <div class="card-body">
                <h5 class="card-title">{{ product }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">En stock</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}